head {
    font-family: "Andale Mono", sans-serif;
    display:block;
}

nav {
  display: block;
  background-color: #d2b48c;
  overflow: hidden;
  text-decoration: none;
}

.topnav a {
  background-color: inherit;
  color: black;
  float: right;
  text-align: center;
  padding: 15px 15px;
  font-size: 17px;
  font-family: "Andale Mono", sans-serif;
  text-decoration: none;
}

.topnav a.hover {
  background-color: #eedac2;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.topnav a.active {
  background-colour: #d2b48c;
  color: #dcedc8;
}
.header {
  font-style: italic;
  font-weight: bold;
  color: black;
  background-color: #d2b48c;
}

.homepageLogo {
  align-content: flex-start;
}

body {
  background-color: #ECECEC;
}

div {
  background-color: inherit;
}

.fullLogo {
  width: 50%;
  height: 50%;
  display: block;
  margin: auto;
}

div {
  background-color: inherit;
}

#mySideNav a {
  position: absolute;
  left: -200px;
  transition: 0.5s;
  padding: 20px;
  width: 300px;
  height: 150px;
  text-decoration: none;
  font-size: 30px;
  color: #43464b;
  border-radius: 0 5px 5px 0;
}

#mySideNav a:hover {
  left: 0;
}

#Groceries {
  top: 200px;
  background-color: #c4f5d7;
}

#Fridges {
  top: 300px;
  background-color: #c4dff5;
}

#Freezers {
  top: 400px;
  background-color: white;
}

#Beverages {
  top: 500px;
  background-color: #c4f2f5;
}

#PartyFood {
  top: 600px;
  background-color: #d1b3e3;
}

#Bakery {
  top: 700px;
  background-color: #e3c1b3;
}

#Cupboards {
  top: 800px;
  background-color: #e3b3b6;
}

.shuffle {
  top: 300px;
  margin-left: 300px;
  colour: white;
}

.logo {
  top: 400px;
  margin-left: 300px;
  color: black;
}
