body {
    font-family: helvetica;
}
.topnav {
  backgroun-color: grey;
  overflow: hidden;
}
.topnav a {
  float: right;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #43464b;
  color: white
}

.topnave a.active {
  background-colour: #43464b;
  color: #dcedc8;
}
.header {
  font-style: italic;
  font-weight: bold;
  color: #bedebc;
  background-color: #43464b;
}

ul {
    font-family: monospace;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

#date {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}
