head {
    font-family: helvetica;
    display:block;
}

nav {
  display: block;
  background-color: #43464b;
  overflow: hidden;
  text-decoration: none;
}

.topnav a {
  background-color: inherit;
  color: #e3daff;
  float: right;
  text-align: center;
  padding: 15px 15px;
  font-size: 17px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #43464b;
  color: white;
  text-decoration: none;
}

.topnav a.active {
  background-colour: #43464b;
  color: #dcedc8;
}
.header {
  font-style: italic;
  font-weight: bold;
  color: #bedebc;
  background-color: #43464b;
}

body {
  background-color: #ECECEC;
}

div {
  background-color: inherit;
}

#mySideNav a {
  position: absolute;
  left: -200px;
  transition: 0.5s;
  padding: 20px;
  width: 300px;
  height: 150px;
  text-decoration: none;
  font-size: 30px;
  color: #43464b;
  border-radius: 0 5px 5px 0;
}

#mySideNav a:hover {
  left: 0;
}

#FreshFood {
  top: 200px;
  background-color: #c4f5d7;
}

#Fridges {
  top: 300px;
  background-color: #c4dff5;
}

#Freezers {
  top: 400px;
  background-color: white;
}

#Beverages {
  top: 500px;
  background-color: #c4f2f5;
}

#PartyFood {
  top: 600px;
  background-color: #d1b3e3;
}

#Bakery {
  top: 700px;
  background-color: #e3c1b3;
}

#Cupboards {
  top: 800px;
  background-color: #e3b3b6;
}
